body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #000 !important; /* Цвет текста навигационных ссылок */
}

.list-group-item {
    background-color: #1a1a1a;
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #333;
}

.list-group-item-action:hover {
    background-color: #333;
}

.text-light {
    color: #f1f1f1 !important;
}

.forum-section {
    margin-bottom: 50px;
}

.forum-section h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.forum-section p {
    font-weight: 400;
    color: #ccc;
}
